<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085728934350-c0u1sn9f57ett419lravmgbvvj8u3cdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085728934350-c0u1sn9f57ett419lravmgbvvj8u3cdb</string>
	<key>API_KEY</key>
	<string>AIzaSyAorIEq_EoATfWnGlecf0Kx-BJtwv_MFDk</string>
	<key>GCM_SENDER_ID</key>
	<string>1085728934350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.GC.SignalR</string>
	<key>PROJECT_ID</key>
	<string>gc-signalr</string>
	<key>STORAGE_BUCKET</key>
	<string>gc-signalr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085728934350:ios:d4d6959860e38a267a039f</string>
</dict>
</plist>